# Node.js dependencies
node_modules/

# Environment variables
# allow to test environment
#.env

# Log files
*.log

# Build artifacts
build/
dist/
out/
*.exe
*.msi

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
.DS_Store
Thumbs.db